<div th:replace="shared/header"></div>

<form method="post" action="/criarpostit">
  <ul>
      <li>
        <div class="criar">
          <h2><input id="titulo" name="titulo" required class="titulo" placeholder="Titulo" style="font-size: 2rem;"></h1>
          <hr>
          <textarea class="textarea" id="conteudo" name="conteudo" required placeholder="Conteudo" ></textarea>
          <hr>
          <label>Data prevista : 
            <input id="dataPrevista" name="dataPrevista" required type="date" class="date" >
          </label>
          <hr>
          <button type="submit" class="button">Criar</button>
        </div>
      </li>
  </ul>
</form>

</body>
</html>