<div th:replace="shared/header"></div>

<ul >
  <li>
    <tr th:each="postit : ${postits}">
      <div class="postit">
        <h1 class="titulo" th:text="${postit.titulo}" id="titulo" name="titulo" sstyle="font-size: 2rem;"></h1>
        <hr>
        <h2 class="textarea" th:text="${postit.conteudo}" id="conteudo" name="conteudo" ></h2>
        <hr>
        <label>Data prevista : 
          <h3 th:text="${postit.dataPrevista}" name="dataPrevista"></h3>
        </label>
        <p><a class="alter" th:href="@{'/postit/' + ${postit.id}}">Alterar</a><a class="delet" href="#" th:onclick="'{window.location.href = \'' + @{/postit/{id}(id=${postit.id})} + '/excluir\'}'">Excluir</a></p>
        </div>
  </tr>
  </li>
</ul>

</body>
</html>
